td {
	padding-right: 1em;
}

.icon {
	display: inline-block;
}

.chosen {
	opacity: 0.6;
}

.badge {
	position: relative;
	margin-right: 10px;
}

.gold {
	border: 3px solid;
	border-color: gold;
}

.gold-text {
	color: gold;
	font-weight: bold;
}

.silver {
	border: 3px solid;
	border-color: silver;
}

.silver-text {
	color: silver;
	font-weight: bold;
}

.bronze {
	border: 3px solid;
	border-color: brown;
}

.bronze-text {
	color: brown;
	font-weight: bold;	
}

p.badge-name {
	position: absolute;
	left: 0;
	bottom: 0;
	font-weight: bold;
	color: #000;
	background-color: rgba(255, 255,255, .7);
	font-size: 0.9em;
}
p.badge-name:hover {
	color: #666;
}

form label {
	margin-right: 10px;
}
form label input[type="radio"], 
form label input[type="checkbox"] {
	margin-left: 5px;
}
.cursor-click{
	cursor: pointer;
}

/*----------------------------------------------------
	[Navigation]
----------------------------------------------------*/
@media screen and (min-width: 768px) {
    .container {
    	padding-left:0;
    }
    .navbar {
    	margin-bottom:30px;
    }
    .navbar-default , .navbar-header{
		height:100px;
	}
	.navbar-header {
		float:right;
	}
	.navbar-nav>li>a {
		line-height: 100px;
		padding-top:0;
		padding-bottom:0;
		padding: 0 25px;
	}
	.navbar-brand {
		height:100px;
		padding:3px 40px;
	}
	.navbar-brand img {
		height:90px;	
	}
}

@media screen and (max-width: 767px) { 
	.navbar-nav {
		width:60%;
		float:left;
	}
	.navbar-brand {
		height:auto;
		padding-right: 5%;
	}
	.navbar-header {
		float:right;
	}
}

@media screen and (max-width: 475px) { 
	.navbar-nav {
		width:50%;
	}
	.navbar-brand {
		width:150px;
	}
	.navbar-header {
		width:38%;
		float:left;
		padding-left:7%;
	}
	.navbar-brand img {
		width:150px;
	}

}


