td {
	padding-right: 1em;
}

.icon {
	display: inline-block;
}

.chosen {
	opacity: 0.6;
}

.badge {
	position: relative;
	margin-right: 10px;
}

.gold {
	border: 3px solid;
	border-color: gold;
}

.gold-text {
	color: gold;
	font-weight: bold;
}

.silver {
	border: 3px solid;
	border-color: silver;
}

.silver-text {
	color: silver;
	font-weight: bold;
}

.bronze {
	border: 3px solid;
	border-color: brown;
}

.bronze-text {
	color: brown;
	font-weight: bold;	
}

p.badge-name {
	position: absolute;
	left: 0;
	bottom: 0;
	font-weight: bold;
	color: #000;
	background-color: rgba(255, 255,255, .7);
	font-size: 0.9em;
}
p.badge-name:hover {
	color: #666;
}

form label {
	margin-right: 10px;
}
form label input[type="radio"], 
form label input[type="checkbox"] {
	margin-left: 5px;
}
.cursor-click{
	cursor: pointer;
}